@{
    ViewData["Title"] = "Home Page";
}

<!-- Begin Page Content -->
<section class="py-5 homepage-search-block position-relative">
    <div class="container">
        <div class="row py-lg-5">
            <div class="col-lg-5">
                <img class="img-fluid" src="images/banner.svg" alt="" />
            </div>
            <div class="col-lg-7">
                <div class="homepage-search-title">
                    <h1 class="mb-3 text-shadow text-gray-900 font-weight-bold">
                        آموزش مورد نظر خودتون رو پیدا کنید
                    </h1>
                    <h5 class="mb-5 text-shadow text-gray-800 font-weight-normal">
                        از بین هزاران آموزش انتخاب کنید.
                    </h5>
                </div>
                <div class="homepage-search-form">
                    <form class="form-noborder">
                        <div class="form-row">
                            <div class="col-lg-10 col-md-10 col-sm-12 form-group">
                                <input type="text"
                                       placeholder="جستجو کنید..."
                                       class="form-control border-0 form-control-lg shadow-sm" />
                            </div>
                            <div class="col-lg-2 col-md-2 col-sm-12 form-group">
                                <button type="submit"
                                        class="btn btn-success btn-block btn-lg btn-gradient shadow-sm">
                                    <i class="fa fa-search"></i>
                                </button>
                            </div>
                        </div>
                    </form>
                </div>
                <div class="popular">
                    <span class="text-body-2">پرجستجوترین</span>
                    <ul>
                        <li><a href="#" class="text-body-2">یوتوب</a></li>
                        <li>
                            <a href="#" class="text-body-2">کسب درآمد از اینستاگرام</a>
                        </li>
                        <li><a href="#" class="text-body-2">تولیدی</a></li>
                        <li>
                            <a href="#" class="text-body-2">بورس</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="py-5 bg-dark">
    <div class="view_slider recommended">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <h3 class="text-white">محبوب ترین‌ها</h3>
                    <div class="view recent-slider recommended-slider">
                        <div class="product-item mb-3">
                            <a href="product-detail.html">
                                <img class="img-fluid"
                                     src="https://images.faranesh.com/media/341/course/5e9094a00d6c0-content-marketing-min.jpg" />
                            </a>
                            <div class="inner-slider">
                                <div class="inner-wrapper">
                                    <div class="d-flex align-items-center">
                                        <span class="seller-image">
                                            <span class="seller">
                                                مرتضی علی یاری
                                            </span>
                                            <img class="img-fluid"
                                                 src="images/user/s1.png"
                                                 alt="" />
                                        </span>
                                        <span class="seller-name">
                                            <a href="profile.html">
                                                کلاس آنلاین کارگاهی بازاریابی محتوایی: محتوایی خلق
                                                کنید که بفروشد
                                            </a>
                                        </span>
                                    </div>
                                    <div class="content-info">
                                        <div class="price">120 هزار <small> تومان</small></div>
                                    </div>
                                    <div class="footer">
                                        <i class="fa fa-heart" aria-hidden="true"></i>

                                        <div class="rating-wrapper">
                                            <span class="gig-rating text-body-2">
                                                <svg xmlns="http://www.w3.org/2000/svg"
                                                     viewBox="0 0 1792 1792"
                                                     width="15"
                                                     height="15">
                                                    <path fill="currentColor"
                                                          d="M1728 647q0 22-26 48l-363 354 86 500q1 7 1 20 0 21-10.5 35.5t-30.5 14.5q-19 0-40-12l-449-236-449 236q-22 12-40 12-21 0-31.5-14.5t-10.5-35.5q0-6 2-20l86-500-364-354q-25-27-25-48 0-37 56-46l502-73 225-455q19-41 49-41t49 41l225 455 502 73q56 9 56 46z"></path>
                                                </svg>
                                            </span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="product-item mb-3">
                            <a href="product-detail.html">
                                <img class="img-fluid"
                                     src="https://images.faranesh.com/media/341/course/5e9094a00d6c0-content-marketing-min.jpg" />
                            </a>
                            <div class="inner-slider">
                                <div class="inner-wrapper">
                                    <div class="d-flex align-items-center">
                                        <span class="seller-image">
                                            <span class="seller">
                                                مرتضی علی یاری
                                            </span>
                                            <img class="img-fluid"
                                                 src="images/user/s1.png"
                                                 alt="" />
                                        </span>
                                        <span class="seller-name">
                                            <a href="profile.html">
                                                کلاس آنلاین کارگاهی بازاریابی محتوایی: محتوایی خلق
                                                کنید که بفروشد
                                            </a>
                                        </span>
                                    </div>
                                    <div class="content-info">
                                        <div class="price">120 هزار <small> تومان</small></div>
                                    </div>
                                    <div class="footer">
                                        <i class="fa fa-heart" aria-hidden="true"></i>

                                        <div class="rating-wrapper">
                                            <span class="gig-rating text-body-2">
                                                <svg xmlns="http://www.w3.org/2000/svg"
                                                     viewBox="0 0 1792 1792"
                                                     width="15"
                                                     height="15">
                                                    <path fill="currentColor"
                                                          d="M1728 647q0 22-26 48l-363 354 86 500q1 7 1 20 0 21-10.5 35.5t-30.5 14.5q-19 0-40-12l-449-236-449 236q-22 12-40 12-21 0-31.5-14.5t-10.5-35.5q0-6 2-20l86-500-364-354q-25-27-25-48 0-37 56-46l502-73 225-455q19-41 49-41t49 41l225 455 502 73q56 9 56 46z"></path>
                                                </svg>
                                            </span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="product-item">
                            <a href="product-detail.html">
                                <img class="img-fluid"
                                     src="https://images.faranesh.com/media/341/course/5f2a50de38d81-18mordad.jpg" />
                            </a>
                            <div class="inner-slider">
                                <div class="inner-wrapper">
                                    <div class="d-flex align-items-center">
                                        <span class="seller-image">
                                            <span class="seller">
                                                مرتضی علی یاری
                                            </span>
                                            <img class="img-fluid"
                                                 src="images/user/s1.png"
                                                 alt="" />
                                        </span>
                                        <span class="seller-name">
                                            <a href="profile.html">کلاس آنلاین معرفی و بررسی سهام‌های مستعد رشد 9</a>
                                        </span>
                                    </div>
                                    <div class="content-info">
                                        <div class="price">120 هزار <small> تومان</small></div>
                                    </div>
                                    <div class="footer">
                                        <i class="fa fa-heart" aria-hidden="true"></i>

                                        <div class="rating-wrapper">
                                            <span class="gig-rating text-body-2">
                                                <svg xmlns="http://www.w3.org/2000/svg"
                                                     viewBox="0 0 1792 1792"
                                                     width="15"
                                                     height="15">
                                                    <path fill="currentColor"
                                                          d="M1728 647q0 22-26 48l-363 354 86 500q1 7 1 20 0 21-10.5 35.5t-30.5 14.5q-19 0-40-12l-449-236-449 236q-22 12-40 12-21 0-31.5-14.5t-10.5-35.5q0-6 2-20l86-500-364-354q-25-27-25-48 0-37 56-46l502-73 225-455q19-41 49-41t49 41l225 455 502 73q56 9 56 46z"></path>
                                                </svg>
                                            </span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="product-item">
                            <a href="product-detail.html">
                                <img class="img-fluid"
                                     src="https://images.faranesh.com/media/341/course/5eae3d845535d-start-bourse.jpg" />
                            </a>
                            <div class="inner-slider">
                                <div class="inner-wrapper">
                                    <div class="d-flex align-items-center">
                                        <span class="seller-image">
                                            <span class="seller">
                                                مرتضی علی یاری
                                            </span>
                                            <img class="img-fluid"
                                                 src="images/user/s1.png"
                                                 alt="" />
                                        </span>
                                        <span class="seller-name">
                                            <a href="profile.html">آموزش رایگان سرمایه گذاری در بورس</a>
                                        </span>
                                    </div>
                                    <div class="content-info">
                                        <div class="price">120 هزار <small> تومان</small></div>
                                    </div>
                                    <div class="footer">
                                        <i class="fa fa-heart" aria-hidden="true"></i>

                                        <div class="rating-wrapper">
                                            <span class="gig-rating text-body-2">
                                                <svg xmlns="http://www.w3.org/2000/svg"
                                                     viewBox="0 0 1792 1792"
                                                     width="15"
                                                     height="15">
                                                    <path fill="currentColor"
                                                          d="M1728 647q0 22-26 48l-363 354 86 500q1 7 1 20 0 21-10.5 35.5t-30.5 14.5q-19 0-40-12l-449-236-449 236q-22 12-40 12-21 0-31.5-14.5t-10.5-35.5q0-6 2-20l86-500-364-354q-25-27-25-48 0-37 56-46l502-73 225-455q19-41 49-41t49 41l225 455 502 73q56 9 56 46z"></path>
                                                </svg>
                                            </span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="product-item">
                            <a href="product-detail.html">
                                <img class="img-fluid" src="images/list/v1.png" />
                            </a>
                            <div class="inner-slider">
                                <div class="inner-wrapper">
                                    <div class="d-flex align-items-center">
                                        <span class="seller-image">
                                            <span class="seller">
                                                مرتضی علی یاری
                                            </span>
                                            <img class="img-fluid"
                                                 src="images/user/s1.png"
                                                 alt="" />
                                        </span>
                                        <span class="seller-name">
                                            <a href="profile.html">تحلیل تکنیکال حرفه‌ای (فیبوناچی و الیوت)</a>
                                        </span>
                                    </div>
                                    <div class="content-info">
                                        <div class="price">120 هزار <small> تومان</small></div>
                                    </div>
                                    <div class="footer">
                                        <i class="fa fa-heart" aria-hidden="true"></i>

                                        <div class="rating-wrapper">
                                            <span class="gig-rating text-body-2">
                                                <svg xmlns="http://www.w3.org/2000/svg"
                                                     viewBox="0 0 1792 1792"
                                                     width="15"
                                                     height="15">
                                                    <path fill="currentColor"
                                                          d="M1728 647q0 22-26 48l-363 354 86 500q1 7 1 20 0 21-10.5 35.5t-30.5 14.5q-19 0-40-12l-449-236-449 236q-22 12-40 12-21 0-31.5-14.5t-10.5-35.5q0-6 2-20l86-500-364-354q-25-27-25-48 0-37 56-46l502-73 225-455q19-41 49-41t49 41l225 455 502 73q56 9 56 46z"></path>
                                                </svg>
                                            </span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!--       recent -->
<!--    about section -->
<div class="market-wrapper py-5 bg-white">
    <div class="container">
        <h2 class="text-center">در همه دسته بندی ها آموزش داریم</h2>
        <ul class="categories-list mb-0">
            <li>
                <a href="#">
                    <img src="images/graphics.svg" alt="" loading="lazy" />گرافیک و
                    دیزاین
                </a>
            </li>
            <li>
                <a href="#">
                    <img src="images/online-marketing.svg"
                         alt="Digital Marketing"
                         loading="lazy" />بازاریابی
                </a>
            </li>
            <li>
                <a href="#">
                    <img src="images/writing-translation.svg"
                         alt="Writing &amp; Translation"
                         loading="lazy" />محتوا نویسی
                </a>
            </li>
            <li>
                <a href="#">
                    <img src="images/video-animation.svg"
                         alt="Video &amp; Animation"
                         loading="lazy" />ویدئو
                </a>
            </li>
            <li>
                <a href="#">
                    <img src="images/music-audio.svg"
                         alt="Music &amp; Audio"
                         loading="lazy" />موسیقی
                </a>
            </li>
            <li>
                <a href="#">
                    <img src="images/programming.svg"
                         alt="Programming &amp; Tech"
                         loading="lazy" />برنامه نویسی
                </a>
            </li>
            <li>
                <a href="#">
                    <img src="images/business.svg" alt="Business" loading="lazy" />کسب
                    و کار
                </a>
            </li>
            <li>
                <a href="#">
                    <img src="images/lifestyle.svg"
                         alt="Lifestyle"
                         loading="lazy" />زندگی
                </a>
            </li>
        </ul>
    </div>
</div>
<!--     market   -->

<section class="py-5 bg-light">
    <div class="view_slider recommended">
        <div class="container">
            <h3>آخرین آموزش ها</h3>
            <div class="view row">
                <div class="col-md-3 col-sm-3 col-6">
                    <div class="product-item mb-3">
                        <a href="product-detail.html">
                            <img class="img-fluid"
                                 src="https://images.faranesh.com/media/341/course/5e9094a00d6c0-content-marketing-min.jpg" />
                        </a>
                        <div class="inner-slider">
                            <div class="inner-wrapper">
                                <div class="d-flex align-items-center">
                                    <span class="seller-image">
                                        <span class="seller">
                                            مرتضی علی یاری
                                        </span>
                                        <img class="img-fluid"
                                             src="images/user/s1.png"
                                             alt="" />
                                    </span>
                                    <span class="seller-name">
                                        <a href="profile.html">
                                            کلاس آنلاین کارگاهی بازاریابی محتوایی: محتوایی خلق
                                            کنید که بفروشد
                                        </a>
                                    </span>
                                </div>
                                <div class="content-info">
                                    <div class="price">120 هزار <small> تومان</small></div>
                                </div>
                                <div class="footer">
                                    <i class="fa fa-heart" aria-hidden="true"></i>

                                    <div class="rating-wrapper">
                                        <span class="gig-rating text-body-2">
                                            <svg xmlns="http://www.w3.org/2000/svg"
                                                 viewBox="0 0 1792 1792"
                                                 width="15"
                                                 height="15">
                                                <path fill="currentColor"
                                                      d="M1728 647q0 22-26 48l-363 354 86 500q1 7 1 20 0 21-10.5 35.5t-30.5 14.5q-19 0-40-12l-449-236-449 236q-22 12-40 12-21 0-31.5-14.5t-10.5-35.5q0-6 2-20l86-500-364-354q-25-27-25-48 0-37 56-46l502-73 225-455q19-41 49-41t49 41l225 455 502 73q56 9 56 46z"></path>
                                            </svg>
                                        </span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-md-3 col-sm-3 col-6">
                    <div class="product-item mb-3">
                        <a href="product-detail.html">
                            <img class="img-fluid"
                                 src="https://images.faranesh.com/media/341/course/5e9094a00d6c0-content-marketing-min.jpg" />
                        </a>
                        <div class="inner-slider">
                            <div class="inner-wrapper">
                                <div class="d-flex align-items-center">
                                    <span class="seller-image">
                                        <span class="seller">
                                            مرتضی علی یاری
                                        </span>
                                        <img class="img-fluid"
                                             src="images/user/s1.png"
                                             alt="" />
                                    </span>
                                    <span class="seller-name">
                                        <a href="profile.html">
                                            کلاس آنلاین کارگاهی بازاریابی محتوایی: محتوایی خلق
                                            کنید که بفروشد
                                        </a>
                                    </span>
                                </div>
                                <div class="content-info">
                                    <div class="price">120 هزار <small> تومان</small></div>
                                </div>
                                <div class="footer">
                                    <i class="fa fa-heart" aria-hidden="true"></i>

                                    <div class="rating-wrapper">
                                        <span class="gig-rating text-body-2">
                                            <svg xmlns="http://www.w3.org/2000/svg"
                                                 viewBox="0 0 1792 1792"
                                                 width="15"
                                                 height="15">
                                                <path fill="currentColor"
                                                      d="M1728 647q0 22-26 48l-363 354 86 500q1 7 1 20 0 21-10.5 35.5t-30.5 14.5q-19 0-40-12l-449-236-449 236q-22 12-40 12-21 0-31.5-14.5t-10.5-35.5q0-6 2-20l86-500-364-354q-25-27-25-48 0-37 56-46l502-73 225-455q19-41 49-41t49 41l225 455 502 73q56 9 56 46z"></path>
                                            </svg>
                                        </span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-md-3 col-sm-3 col-6">
                    <div class="product-item mb-3">
                        <a href="product-detail.html">
                            <img class="img-fluid"
                                 src="https://images.faranesh.com/media/341/course/5f2a50de38d81-18mordad.jpg" />
                        </a>
                        <div class="inner-slider">
                            <div class="inner-wrapper">
                                <div class="d-flex align-items-center">
                                    <span class="seller-image">
                                        <span class="seller">
                                            مرتضی علی یاری
                                        </span>
                                        <img class="img-fluid"
                                             src="images/user/s1.png"
                                             alt="" />
                                    </span>
                                    <span class="seller-name">
                                        <a href="profile.html">کلاس آنلاین معرفی و بررسی سهام‌های مستعد رشد 9</a>
                                    </span>
                                </div>
                                <div class="content-info">
                                    <div class="price">120 هزار <small> تومان</small></div>
                                </div>
                                <div class="footer">
                                    <i class="fa fa-heart" aria-hidden="true"></i>

                                    <div class="rating-wrapper">
                                        <span class="gig-rating text-body-2">
                                            <svg xmlns="http://www.w3.org/2000/svg"
                                                 viewBox="0 0 1792 1792"
                                                 width="15"
                                                 height="15">
                                                <path fill="currentColor"
                                                      d="M1728 647q0 22-26 48l-363 354 86 500q1 7 1 20 0 21-10.5 35.5t-30.5 14.5q-19 0-40-12l-449-236-449 236q-22 12-40 12-21 0-31.5-14.5t-10.5-35.5q0-6 2-20l86-500-364-354q-25-27-25-48 0-37 56-46l502-73 225-455q19-41 49-41t49 41l225 455 502 73q56 9 56 46z"></path>
                                            </svg>
                                        </span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-3 col-sm-3 col-6">
                    <div class="product-item mb-3">
                        <a href="product-detail.html">
                            <img class="img-fluid"
                                 src="https://images.faranesh.com/media/341/course/5eae3d845535d-start-bourse.jpg" />
                        </a>
                        <div class="inner-slider">
                            <div class="inner-wrapper">
                                <div class="d-flex align-items-center">
                                    <span class="seller-image">
                                        <span class="seller">
                                            مرتضی علی یاری
                                        </span>
                                        <img class="img-fluid"
                                             src="images/user/s1.png"
                                             alt="" />
                                    </span>
                                    <span class="seller-name">
                                        <a href="profile.html">آموزش رایگان سرمایه گذاری در بورس</a>
                                    </span>
                                </div>
                                <div class="content-info">
                                    <div class="price">120 هزار <small> تومان</small></div>
                                </div>
                                <div class="footer">
                                    <i class="fa fa-heart" aria-hidden="true"></i>

                                    <div class="rating-wrapper">
                                        <span class="gig-rating text-body-2">
                                            <svg xmlns="http://www.w3.org/2000/svg"
                                                 viewBox="0 0 1792 1792"
                                                 width="15"
                                                 height="15">
                                                <path fill="currentColor"
                                                      d="M1728 647q0 22-26 48l-363 354 86 500q1 7 1 20 0 21-10.5 35.5t-30.5 14.5q-19 0-40-12l-449-236-449 236q-22 12-40 12-21 0-31.5-14.5t-10.5-35.5q0-6 2-20l86-500-364-354q-25-27-25-48 0-37 56-46l502-73 225-455q19-41 49-41t49 41l225 455 502 73q56 9 56 46z"></path>
                                            </svg>
                                        </span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-3 col-sm-3 col-6">
                    <div class="product-item mb-3">
                        <a href="product-detail.html">
                            <img class="img-fluid" src="images/list/v1.png" />
                        </a>
                        <div class="inner-slider">
                            <div class="inner-wrapper">
                                <div class="d-flex align-items-center">
                                    <span class="seller-image">
                                        <span class="seller">
                                            مرتضی علی یاری
                                        </span>
                                        <img class="img-fluid"
                                             src="images/user/s1.png"
                                             alt="" />
                                    </span>
                                    <span class="seller-name">
                                        <a href="profile.html">تحلیل تکنیکال حرفه‌ای (فیبوناچی و الیوت)</a>
                                    </span>
                                </div>
                                <div class="content-info">
                                    <div class="price">120 هزار <small> تومان</small></div>
                                </div>
                                <div class="footer">
                                    <i class="fa fa-heart" aria-hidden="true"></i>

                                    <div class="rating-wrapper">
                                        <span class="gig-rating text-body-2">
                                            <svg xmlns="http://www.w3.org/2000/svg"
                                                 viewBox="0 0 1792 1792"
                                                 width="15"
                                                 height="15">
                                                <path fill="currentColor"
                                                      d="M1728 647q0 22-26 48l-363 354 86 500q1 7 1 20 0 21-10.5 35.5t-30.5 14.5q-19 0-40-12l-449-236-449 236q-22 12-40 12-21 0-31.5-14.5t-10.5-35.5q0-6 2-20l86-500-364-354q-25-27-25-48 0-37 56-46l502-73 225-455q19-41 49-41t49 41l225 455 502 73q56 9 56 46z"></path>
                                            </svg>
                                        </span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!--       recent -->
<!--       guides  -->
<div class="guide-wrapper bg-white py-5">
    <div class="container">
        <h2>
            آخرین مقالات
            <a href="#" class="float-left">مشاهده مجله</a>
        </h2>
        <div class="row">
            <div class="col-md-4">
                <a href="#" class="guide">
                    <img src="images/guide-01.jpg" />
                    <div class="content">
                        <h6>چطوری زمان بندی کنیم؟</h6>
                        <p>خودراستی</p>
                    </div>
                </a>
            </div>
            <div class="col-md-4">
                <a href="#" class="guide">
                    <img src="images/guide-02.jpg" />
                    <div class="content">
                        <h6>بهترین منابع برای یادگیری آیلتس</h6>
                        <p>زبان آموزی</p>
                    </div>
                </a>
            </div>
            <div class="col-md-4">
                <a href="#" class="guide">
                    <img src="images/guide-03.jpg" />
                    <div class="content">
                        <h6>بهترین فروشگاه سازها</h6>
                        <p>کسب‌و‌کار</p>
                    </div>
                </a>
            </div>
        </div>
    </div>
</div>
<!--       guides  -->
<!-- get started -->
<div>
    <div class="get-started">
        <div class="content">
            <h2>شما هم میتوانید کسب درآمد کنید.</h2>
            <p>کسب درآمد از کاروکیا به سادگی آب خوردنه.</p>
            <a href="#" class="c-btn c-fill-color-btn">چطوری؟</a>
        </div>
    </div>
</div>
<!-- get started -->