
@using Westwind.Globalization;

@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">@DbRes.T("Services", "Words")</h1>
    @DbRes.T("FistPage.CorpTitle", "Sentence")
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
